@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --cor-de-fundo:#26043F; 
    --branco:#FFFFFF;
    --rosa:#DE5AFF;
    --botao-ativo:#52375E;
    --botao-inativo:#52375eaf;
    --texto-fundo:#e4e4e4;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}


.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.titulo-principal span{
    color: var(--rosa);
}


.botoes{
    font-family: "Chakra Petch" , sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
}